<h1>Neues Ticket anlegen</h1>

<%= form_for @tickets do |t| %>
  <p>
    <%= t.label :subject %><br />
    <%= t.text_field :subject %>
  </p>
  <p>
    <%= t.label :request %><br />
    <%= t.text_area :request %>
  </p>
  <p>
    <%= t.submit 'Anlegen' %>
  </p>
<% end %>