
<p>
  <b>Subject:</b>
  <%= @ticket.subject %>
</p>

<p>
  <b>Request:</b>
  <%= @ticket.request %>
</p>


<%= link_to 'Back', tickets_path %> |
<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Destroy', :ticket, confirm: 'Are you sure?', method: :delete %>